<?xml version="1.0" encoding="UTF-8"?>
<camaeras>
    <cam>
        <name>Brian's HP Cam</name>
        <id>HPCAM</id>
        <url>http://localhost:8081/stream.mjpg</url>
        <type>mjpg</type>
    </cam>
    <cam>
        <name>Brian's HP Cam 2</name>
        <id>HPCAM2</id>
        <url>http://localhost:8081/stream.mjpg</url>
        <type>mjpg</type>
    </cam>
    <cam>
        <name>Brian's HP Cam 2</name>
        <id>HPCAM2</id>
        <url>http://localhost:8081/stream.mjpg</url>
        <type>mjpg</type>
        <pv></pv>
    </cam>
</camaeras>
